@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  .logo {
    margin: -11px 0 -17px 8px !important;
    position: relative;
    z-index: 1; }

  .logo img {
    margin: -10px 0 0;
    width: 67%; }

  .col-md-12 {
    background-color: #000000;
    height: 71px; }

  li {
    float: left;
    font-weight: bold;
    list-style-type: none;
    padding: 3px 5px; }

  .nav-bar.pull-right > ul {
    margin: 0;
    padding: 0; }

  .social-icon {
    float: right;
    margin: -25px -15px 15px 0;
    width: 27%; }

  .nav-bar.pull-left > ul {
    float: left;
    margin: 0;
    padding: 0; }

  .yellow-box {
    background-color: #fff37c;
    margin-top: -1px;
    padding: 10px 0 8px 14px; }

  .yellow-box li a {
    color: #000000;
    float: left;
    font-size: 13px;
    font-weight: bold;
    list-style-type: none; }

  .yellow-box li a:hover {
    color: #000000;
    font-size: 13px;
    list-style-type: none;
    text-decoration: none; }

  .pull-left {
    float: left !important;
    width: 100%; }

  .inner-banner-area {
    background: url("../images/inner-banner.jpg") no-repeat scroll 0 0 transparent;
    padding: 0 0 0 0px; }

  .pull-right {
    float: right !important;
    padding: 0 0 20px;
    width: 100%; }

  .footer-rgt-area {
    background: none repeat scroll 0 0 transparent;
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    padding: 25px 0 0;
    text-align: center;
    width: 100%; }

  .footer-area {
    background: none repeat scroll 0 0 transparent;
    color: #ffec47;
    font-size: 11px;
    font-weight: bold;
    padding: 20px 0 0 20px; }

  .footer-area a {
    color: #cccccc;
    padding: 0 5px;
    text-decoration: underline; }

  .login-area {
    width: 100%; } }
@media only screen and (min-device-width: 480px) and (max-device-width: 640px) {
  .logo img {
    margin: -15px 0 -1px; }

  .col-md-12 {
    background-color: #000000;
    height: 62px; }

  .social-icon {
    margin: -46px 0 0; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .logo {
    margin: -15px 0 -11px;
    position: relative;
    z-index: 1; }

  .logo img {
    margin: -20px 0 -1px; }

  .col-md-12 {
    background-color: #000000;
    height: 62px; }

  .social-icon {
    margin: -46px 0 0; }

  .yellow-box {
    padding: 18px 0 8px; }

  .nav-bar.pull-right {
    padding: 8px 0 0; }

  .col-md-12.inner-banner-area {
    height: 128px; }

  .nav-bar.pull-right {
    padding: 8px 0 20px; }

  .footer-area > ul {
    float: right;
    margin: 0;
    padding: 0 0 40px; }

  .login {
    float: left;
    width: 30%; }

  .information-box > ul {
    float: left;
    padding: 0 0 16px 12px;
    width: 70%; }

  .information {
    background-color: #e5e5e5;
    min-height: 500px;
    padding: 17px 0 0 14px; } }
/* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/
.hidden {
  display: none; }

#filter {
  /* padding: 15px 0 22px 50px;*/
  float: left;
  width: 100%;
  padding: 10px 0 30px; }

#filter button {
  background-color: #ffffff;
  border: 0 none;
  color: #333;
  cursor: pointer;
  font-family: 'montserratregular';
  font-size: 16px;
  padding: 5px 2px; }

#filter button.active {
  color: #EA0D8D; }

#filter button:focus {
  outline: 0; }

#posts {
  /*max-width: 1800px;*/
  margin: 0 auto;
  /*float:left;*/
  width: 94%; }

#posts .post {
  display: inline-block;
  float: left;
  height: 390px;
  margin: 0 0.5% 10px 0;
  overflow: hidden;
  position: relative;
  /*text-align: center;*/
  width: 24.5%;
  /*z-index: 1;
  -moz-transition:-moz-transform 0.8s ease-in; 
  -webkit-transition:-webkit-transform 0.8s ease-in; 
  -o-transition:-o-transform 0.8s ease-in;*/ }

#posts .post::after {
        /*position:absolute;
        height: 100%;
        width:100%;
        top:0;
        left:0;
        background: -moz-linear-gradient(bottom, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 60%);
        background: -webkit-gradient(linear, left bottom, left top, color-stop(10%,rgba(0,0,0,1)), color-stop(60%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 10%,rgba(255,255,255,0) 60%);
        background: -o-linear-gradient(bottom, rgba(0,0,0,1) 10%,rgba(255,255,255,0) 60%);
        background: -ms-linear-gradient(bottom, rgba(0,0,0,1) 10%,rgba(255,255,255,0) 60%);
        background: linear-gradient(to top, rgba(0,0,0,1) 10%,rgba(255,255,255,0) 60%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#00ffffff',GradientType=0 );
        display:none;
        content: ' ';
		  -moz-transition:-moz-transform 0.8s ease-in; 
-webkit-transition:-webkit-transform 0.8s ease-in; 
-o-transition:-o-transform 0.8s ease-in;*/ }

#posts .post:hover::after {
  display: block; }

#posts .post.last {
  margin: 0px 0px 10px 0px; }

#posts .post img {
  position: relative;
  display: block;
  /* width: -webkit-calc(100% + 60px);
   width: calc(100% + 60px);
   opacity: 1;
   -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;*/
  /*transition: opacity 0.35s, transform 0.35s;*/
  /* -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
   transform: translate3d(-30px, 0, 0) scale(1.12);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   min-height: 100%;*/
  width: 100%;
  -moz-transition: -moz-transform 0.8s ease-in;
  -webkit-transition: -webkit-transform 0.8s ease-in;
  -o-transition: -o-transform 0.8s ease-in; }

#posts .post:hover img {
  /*opacity: 0.5;*/
  /* -webkit-transform: translate3d(0, 0, 0) scale(1);
   transform: translate3d(0, 0, 0) scale(1);*/
 /* -moz-transform:scale(1.3); 
-webkit-transform:scale(1.3);
-o-transform:scale(1.3); */ }

#posts .post .post-content {
  backface-visibility: hidden;
  color: #fff;
  /* padding: 43px 0 0 19px;*/
  text-transform: uppercase; }

.full-with {
  width: 49.5% !important; }

#posts .post .post-content::before,
#posts .post .post-content::after {
  pointer-events: none; }

#posts .post .post-content,
#posts .post a {
  /*position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;*/ }

#posts .post .post-content {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 10; }

#posts .post a {
  /*z-index: 1;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  color: white;*/ }

#posts .post h2 {
    /*float: left;
    font-size: 24px;
    margin: 139px 0 0 !important;
    text-align: left;
    width: 100%; color: #fff; 
	font-family: 'montserratbold';
	letter-spacing:1px;*/ }

.post-content span {
  float: left;
  font-size: 12px; }

#posts .post h2,
#posts .post p {
  /*margin: 0;*/ }

#posts .post p {
  /*letter-spacing: 1px;
  font-size: 68.5%;
  padding: 0 10px 0 0;
  width: 50%;
  border-right: 1px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);*/ }

#posts .post:hover p {
  /*opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);*/ }

@media screen and (max-width: 600px) {
  #posts .post {
    width: 50%; } }
#tfheader {
  float: right;
  width: 100%; }

#tfnewsearch {
  float: right;
  padding: 20px; }

.tftextinput {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-bottom-left-radius: 5px;
  border-image: none;
  border-style: solid none solid solid;
  border-top-left-radius: 5px;
  border-width: 1px 0 1px 1px;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 5px 15px; }

.tfbutton {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-image: none;
  border-style: solid none solid solid;
  border-top-right-radius: 5px;
  border-width: 1px 0 1px 1px;
  color: #ffffff;
  cursor: pointer;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  margin: 0;
  outline: medium none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  background: url("../images/banner02.png") no-repeat scroll 1px 0 transparent; }

.tfbutton:hover {
  text-decoration: none;
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top, #0095cc, #00678e); }

/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0; }

.tfclear {
  clear: both; }

.footer-main {
  float: left;
  margin: 80px 0 20px;
  width: 100%; }

.footer-left {
  float: left;
  width: 33%; }

.footer-left > img {
  float: left;
  margin: 0 0 0 48px;
  width: 24%; }

.footer-mid {
  float: left;
  width: 34%;
  display: table;
  text-align: center; }

.footer-rgt {
  float: right;
  width: 33%;
  text-align: right; }

.footer-nw {
  /* float: left;*/
  margin: 15px 0 0;
  width: 50px;
  display: inline-block; }

#back-top {
  position: fixed;
  bottom: 30px;
  margin-left: -150px; }

#back-top a {
  width: 108px;
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s; }

#back-top a:hover {
  color: #000; }

/* arrow icon (span tag) */
#back-top span {
  width: 108px;
  height: 108px;
  display: block;
  margin-bottom: 7px;
  background: #ddd url(../images/a21.png) no-repeat center center;
  /* rounded corners */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s; }

#back-top a:hover span {
  background-color: #777; }

.footer-left img {
  /* margin: 0 0 0 46px;
   width: 155px;*/ }

#topcontrol > img {
  display: none; }

.header-area {
  /*width: 100%;
  float: left;*/
  position: absolute;
  /*display: table;*/
  z-index: 1;
  top: 15%;
  left: 0px;
  right: 0px;
  margin: auto; }

.main-logo {
  text-align: center;
  /*width:100%;
  float:left;*/
  margin: 50px auto;
  display: table; }

.logo-area > img {
  display: block;
  margin: 18px auto 0;
  /* width: 8%;*/ }

.logo-area {
  /* float: left;
   width: 100%;*/
  margin: auto;
  display: table; }

.menu-area {
  display: table;
  margin: 30px auto 0;
   /* width: 100%;
	float:left;*/
  text-align: center; }

.menu-area a {
  color: #ffffff;
  /* float: left; */
  margin: 10px 0 0;
  padding: 0 18px;
  display: inline-block; }

.menu-area a:hover {
  color: #a3a3a3;
  /* margin: 11px 0 0;
   padding: 0 18px;*/
  text-decoration: none; }

.inner-main-area {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  display: block;
  background: url(../images/about-bg.png) no-repeat scroll left top;
  background-size: 100% 100%;
  min-height: 940px; }

.inner-area {
  margin: 0 auto;
  width: 80%; }

.video-banner > img {
  display: block;
  height: auto;
  width: 100%; }

.about-area {
  margin: 180px 0 120px;
  width: 100%;
  float: left; }

.about-text {
  color: #000000;
  width: 100%;
  margin: 50px 0 0;
  float: left; }

.about-text > ul {
  display: block;
  float: left; }

.about-text ul li {
  color: #000000;
  float: left;
  margin: 0 1% 30px 1%;
  width: 48%; }

.social-icon {
  float: right; }

.fb-icon {
  float: left; }

/*******************************************************/
.inner-main-area.video {
  background: none;
  color: #000; }

.inner-main-area .inner-area.video {
  width: 100%; }

.video-banner a img {
  width: 100%; }

.inner-logo {
  position: absolute;
  right: 20px;
  top: 35px; }

.vid-content {
  color: #000;
  width: 100%;
  padding: 10px 0 30px; }

.vid-cont-left {
  float: left;
  padding: 30px 0;
  width: 48%; }

.left-part {
  float: left;
  width: 22%; }

.video-details {
  float: left;
  width: 56%;
  font-size: 12px; }

.vid-cont-right {
  float: right;
  padding: 30px 0;
  width: 48%; }

h1.author-head {
  text-transform: uppercase;
  color: #094c7f;
  font-family: 'montserratregular';
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 32px;
  line-height: 42px; }

h1.author-head span {
  display: block;
  font-size: 12px;
  line-height: 22px; }

.icon-box {
  display: block;
  float: left;
  margin: 10px 0; }

.icon-box img {
  margin: 0px 8px 0px 0px; }

footer {
  float: left;
  width: 100%; }

section.slider {
  float: left;
  width: 100%; }

.slider-icon {
  float: left;
  width: 100%; }

.slider-icon ul {
  margin: auto;
  display: table; }

.slider-icon li {
  margin: auto;
  padding: 0 3px;
  text-align: center; }

/*.voideo-page .mm-menu{ background: #ff364b !important;}*/
.wrapper {
  width: 94%;
  display: table;
  margin: auto; }

.small-wrapper {
  width: 1080px;
  display: table;
  margin: auto;
  position: relative; }

.about-area h2 {
  background: url("../images/line.jpg") no-repeat scroll center 98px transparent;
  color: #000000;
  font-size: 72px;
  padding: 0 0 8px;
  text-align: center;
  line-height: 100px; }

.voideo-page .social-icon {
  float: right;
  margin: -62px 0px 0px 0; }

@media screen and (max-width: 1600px), screen and (max-device-width: 1600px), screen and (max-width: 1750px) {
  .header-area {
    top: 7%; }

  #posts .post {
    height: 365px; } }
@media screen and (max-width: 1400px), screen and (max-device-width: 1400px), screen and (max-width: 1599px) {
  #posts .post {
    height: 314px; } }
@media screen and (max-width: 1320px), screen and (max-device-width: 1320px), screen and (max-width: 1399px) {
  #posts .post {
    height: 300px; } }
@media screen and (max-width: 1180px), screen and (max-device-width: 1180px), screen and (max-width: 1319px) {
  #posts .post {
    height: 270px;
    margin: 0 0.5% 5px 0; }

  #posts .post.last {
    margin: 0 0 5px; }

  .header-area {
    width: 60%; }

  .logo-area > img {
    width: 65%; }

  .main-logo > img {
    width: 100%; }

  #posts .post h2 {
    /*font-size:18px;*/ }

  .about-area {
    margin: 110px 0px 50px; }

  .inner-main-area {
    min-height: 800px; } }
@media screen and (max-width: 1024px), screen and (max-device-width: 1024px), screen and (max-width: 1179px) {
  #posts .post {
    height: 230px; }

  .small-wrapper {
    width: 94%; }

  .about-area {
    margin: 70px 0px 0px; }

  .inner-main-area {
    min-height: 700px; } }
@media screen and (max-width: 850px), screen and (max-device-width: 850px), screen and (max-width: 1024px) {
  #posts .post {
    height: 200px; }

  .header-area {
    width: 54%; }

  .main-logo {
    margin: 25px auto; }

  .menu-area {
    margin: 15px auto 0; }

  .wrapper {
    width: 98%; }

  #posts {
    width: 98%; }

  .left-part {
    width: 100%; }

  .video-details {
    width: 100%; }

  .inner-logo img {
    width: 80%; }

  .inner-logo {
    top: 18px; }

  .small-wrapper {
    width: 98%; }

  .about-area h2 {
    font-size: 60px; } }
@media screen and (max-width: 768px), screen and (max-device-width: 768px), screen and (max-width: 849px) {
  #posts .post {
    height: 360px;
    width: 49.5%; }

  #posts .post.full-with {
    width: 100% !important; }

  .about-text ul li {
    width: 100%; }

  .about-area h2 {
    font-size: 50px;
    background-position: center 65px;
    line-height: 65px; } }
@media screen and (max-width: 640px), screen and (max-device-width: 640px), screen and (max-width: 767px) {
  #posts .post {
    height: 305px; }

  .menu-area a {
    padding: 0px 12px; }

  .header-area {
    width: 48%; }

  .main-logo {
    margin: 10px auto; }

  .menu-area {
    margin: 10px auto 0; }

  .logo-area > img {
    width: 45%; }

  .menu-area > a {
    font-size: 12px; }

  .vid-cont-right, .vid-cont-left {
    width: 100%;
    padding: 0px; } }
@media screen and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 639px) {
  #posts .post {
    height: 225px; }

  .header-area {
    top: 2%; }

  .header-area {
    width: 58%; }

  .menu-area a {
    padding: 0px 10px; }

  .logo-area > img {
    width: 27%; }

  .main-logo > img {
    width: 80%; }

  #filter button {
    font-size: 12px; }

  .footer-left {
    width: 100%;
    text-align: center; }

  .footer-mid {
    width: 100%;
    margin: 15px 0px; }

  .footer-rgt {
    width: 100%;
    text-align: center; }

  .voideo-page .social-icon {
    float: right;
    margin: 30px 0 20px;
    text-align: center;
    width: 100%; }

  .header a {
    background-size: 100% auto;
    width: 30px;
    height: 30px; }

  .inner-logo {
    right: 10px;
    text-align: right; }

  .inner-logo img {
    width: 65%; } }
@media screen and (max-width: 360px), screen and (max-device-width: 360px), screen and (max-width: 480px) {
  #posts .post {
    width: 100%;
    margin: 0px 0px 10px 0px;
    height: auto; }

  .menu-area a {
    padding: 0px 6px;
    font-size: 10px; }

  .logo-area > img {
    margin: 8px auto 0px; }

  .menu-area {
    margin: 5px auto 0; } }
@media screen and (max-width: 320px), screen and (max-device-width: 320px), screen and (max-width: 479px) {
  .logo-area > img {
    width: 18%;
    margin: 0px auto 0px; }

  .main-logo > img {
    width: 60%; }

  .main-logo {
    margin: 0px auto; } }
#triangleLogoAlign {
  position: absolute;
  top: 2%;
  right: 4%;
  width: auto;
  height: 33px; }

.inner-main-area {
  height: 100vh; }

@font-face {
  font-family: 'MontserratRegular';
  font-weight: 100;
  src: url(../fonts/Montserrat-Regular.ttf); }
@font-face {
  font-family: 'MontserratBold';
  font-weight: 300;
  src: url(../fonts/Montserrat-Bold.ttf); }
body {
  margin: 0px; }
  body ul {
    list-style-type: none;
    padding-left: 0px; }
  body a {
    text-decoration: none;
    color: black; }

.jumboTron .jumboTronWrap {
  
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  height: 62rem; 
 }


 .jumboTron .jumboTronWrap{



position: absolute;
z-index: 9999;
width: 100%;
top: 0;


 }


.slider{

  background-size: cover!important;
  background-position: center!important;}

  .slider { position: absolute; width:100%; top:0; }

  #top-image{}

  .top-line{ top:0; position: absolute; left: 0; right: 0; margin:auto; text-align: center; display: none;}



  @media screen and (min-width: 100px) and (max-width: 480px) {
    .jumboTron .jumboTronWrap {
      height: 35rem;
      background-position-x: 48%;
      background-position-y: 63%;
      background-size: 235% auto; } }
  @media screen and (min-width: 481px) and (max-width: 750px) {
    .jumboTron .jumboTronWrap {
      height: 25rem; } }
  .jumboTron .jumboTronWrap .iconWrap {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    padding-top: 9%;
    padding-bottom: 1%; }
    @media screen and (min-width: 481px) and (max-width: 750px) {
      .jumboTron .jumboTronWrap .iconWrap {
        padding-top: 2rem; } }
    .jumboTron .jumboTronWrap .iconWrap img {
      width: auto;
      height: 6rem; }
      @media screen and (min-width: 100px) and (max-width: 750px) {
        .jumboTron .jumboTronWrap .iconWrap img {
          height: 3rem; } }
    @media screen and (min-width: 2000px) {
      .jumboTron .jumboTronWrap .iconWrap {
        padding-top: 5%; } }
  .jumboTron .jumboTronWrap .navWrap {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    .jumboTron .jumboTronWrap .navWrap ul {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: distribute;
      -moz-box-pack: distribute;
      box-pack: distribute;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: distribute;
      width: 40rem; }
      @media screen and (min-width: 100px) and (max-width: 480px) {
        .jumboTron .jumboTronWrap .navWrap ul {
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -moz-box-pack: center;
          box-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          -o-justify-content: center;
          justify-content: center;
          -ms-flex-pack: center;
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          box-orient: vertical;
          -webkit-box-direction: normal;
          -moz-box-direction: normal;
          box-direction: normal;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          flex-direction: column;
          -ms-flex-direction: column; } }
      @media screen and (min-width: 100px) and (max-width: 750px) {
        .jumboTron .jumboTronWrap .navWrap ul li {
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -moz-box-pack: center;
          box-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          -o-justify-content: center;
          justify-content: center;
          -ms-flex-pack: center;
          padding-bottom: 5px; } }
      .jumboTron .jumboTronWrap .navWrap ul li a {
        font-family: MontserratRegular, sans-serif;
        text-transform: uppercase;
        color: white; }
  .jumboTron .jumboTronWrap .logoWrap {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    .jumboTron .jumboTronWrap .logoWrap .logo {
      padding-bottom: 5%;
      padding-top: 4%; }
      .jumboTron .jumboTronWrap .logoWrap .logo img {
        height: auto;
        width: 42rem; }
        @media screen and (min-width: 100px) and (max-width: 750px) {
          .jumboTron .jumboTronWrap .logoWrap .logo img {
            height: auto;
            width: 23rem; } }
  .jumboTron .jumboTronWrap .scrollArea .scrollAreaWrap .mouse {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    padding-bottom: 1%; }
    .jumboTron .jumboTronWrap .scrollArea .scrollAreaWrap .mouse img {
      width: auto;
      height: 45px; }
  .jumboTron .jumboTronWrap .scrollArea .scrollAreaWrap .navDots {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    text-align: center; }
    .jumboTron .jumboTronWrap .scrollArea .scrollAreaWrap .navDots i {
      color: white;
      font-size: 80%;
      padding-bottom: 1%; }
      .jumboTron .jumboTronWrap .scrollArea .scrollAreaWrap .navDots i:nth-child(2) {
        font-size: 70%; }
      .jumboTron .jumboTronWrap .scrollArea .scrollAreaWrap .navDots i:nth-child(3) {
        font-size: 9px; }
      .jumboTron .jumboTronWrap .scrollArea .scrollAreaWrap .navDots i:nth-child(4) {
        font-size: 7px; }
      .jumboTron .jumboTronWrap .scrollArea .scrollAreaWrap .navDots i:nth-child(5) {
        font-size: 4px; }

.search {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .search .searchWrap {
    width: 95%;
    max-width: 110rem;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end;
    padding-bottom: 18px; }
    .search .searchWrap .searchInnerWrap {
      padding-top: 2rem; }
      .search .searchWrap .searchInnerWrap form input {
        border: none;
        line-height: 30px; }
        .search .searchWrap .searchInnerWrap form input::-webkit-input-placeholder {
          font-family: MontserratRegular, sans-serif;
          text-transform: uppercase;
          font-size: 130%;
          text-align: right;
          color: black;
          letter-spacing: 1px; }
        .search .searchWrap .searchInnerWrap form input::-moz-placeholder {
          font-family: MontserratRegular, sans-serif;
          text-transform: uppercase;
          font-size: 130%;
          text-align: right;
          color: black;
          letter-spacing: 1px; }
        .search .searchWrap .searchInnerWrap form input:-moz-placeholder {
          font-family: MontserratRegular, sans-serif;
          text-transform: uppercase;
          font-size: 130%;
          text-align: right;
          color: black;
          letter-spacing: 1px; }
        .search .searchWrap .searchInnerWrap form input:-ms-input-placeholder {
          font-family: MontserratRegular, sans-serif;
          text-transform: uppercase;
          font-size: 130%;
          text-align: right;
          color: black;
          letter-spacing: 1px; }
      .search .searchWrap .searchInnerWrap form i {
        font-size: 160%;
        margin-left: 10px; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc; }

.breadcrumbs {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .breadcrumbs .breadCrumbWrap {
    width: 89%;
    max-width: 110rem; }
    .breadcrumbs .breadCrumbWrap .breadCrumb ul {
      margin-bottom: 5px;
      margin-top: 23px;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      @media screen and (min-width: 100px) and (max-width: 510px) {
        .breadcrumbs .breadCrumbWrap .breadCrumb ul {
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          box-orient: vertical;
          -webkit-box-direction: normal;
          -moz-box-direction: normal;
          box-direction: normal;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          flex-direction: column;
          -ms-flex-direction: column; } }
      .breadcrumbs .breadCrumbWrap .breadCrumb ul li {
        padding-right: 5px; }
        .breadcrumbs .breadCrumbWrap .breadCrumb ul li a {
          font-family: MontserratRegular, sans-serif;
          text-transform: uppercase;
          font-size: 90%;
          cursor: default; }
          @media screen and (min-width: 100px) and (max-width: 750px) {
            .breadcrumbs .breadCrumbWrap .breadCrumb ul li a {
              font-size: 90%; } }
          .breadcrumbs .breadCrumbWrap .breadCrumb ul li a:hover {
            color: #ea0d8d; }
        .breadcrumbs .breadCrumbWrap .breadCrumb ul li .active {
          color: #ea0d8d; }

.portfolio {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  min-height: 40rem; }
  .portfolio .portfolioWrap {
    width: 95%;
    max-width: 111rem; }
    .portfolio .portfolioWrap ul li .portfolioImageWrap {
      position: relative;
      overflow: hidden; }
      .portfolio .portfolioWrap ul li .portfolioImageWrap .gradientBg {
        width: 100%;
        height: 20rem;
        position: absolute;
        top: 5rem;
        background: -moz-linear-gradient(top, transparent 34%, rgba(0, 0, 0, 0.5) 67%, #262626 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(34%, transparent), color-stop(67%, rgba(0, 0, 0, 0.5)), color-stop(100%, #262626));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, transparent 34%, rgba(0, 0, 0, 0.5) 67%, #262626 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, transparent 34%, rgba(0, 0, 0, 0.5) 67%, #262626 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, transparent 34%, rgba(0, 0, 0, 0.5) 67%, #262626 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, transparent 34%, rgba(0, 0, 0, 0.5) 67%, #262626 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#262626',GradientType=0 );
        /* IE6-9 */ }
        @media screen and (min-width: 100px) and (max-width: 480px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .gradientBg {
            top: 8rem; } }
        @media screen and (min-width: 481px) and (max-width: 750px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .gradientBg {
            top: 0rem; } }
      .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay {
        position: absolute;
        top: 24rem; }
        @media screen and (min-width: 100px) and (max-width: 480px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay {
            top: 27rem; } }
        @media screen and (min-width: 481px) and (max-width: 750px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay {
            top: 22rem; } }
        .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay img {
          height: 20rem;
          width: 100%; }
        .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems {
          position: absolute;
          top: 3rem;
          left: 0%;
          text-align: center;
          width: 100%; }
          @media screen and (min-width: 481px) and (max-width: 638px) {
            .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems {
              top: 0.7rem; } }
          @media screen and (min-width: 639px) and (max-width: 750px) {
            .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems {
              top: 3rem; } }
          @media screen and (min-width: 751px) and (max-width: 849px) {
            .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems {
              top: 2rem; } }
          @media screen and (min-width: 850px) and (max-width: 1169px) {
            .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems {
              top: 0rem; } }
          @media screen and (min-width: 1180px) and (max-width: 1292px) {
            .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems {
              top: 0rem; } }
          .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems h1 {
            font-family: MontserratRegular;
            text-transform: uppercase;
            color: #e5e5e5;
            font-size: 120%;
            letter-spacing: 3px;
            margin-bottom: 0rem; }
            @media screen and (min-width: 100px) and (max-width: 480px) {
              .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems h1 {
                font-size: 90%; } }
            @media screen and (min-width: 481px) and (max-width: 750px) {
              .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems h1 {
                font-size: 90%; } }
            @media screen and (min-width: 751px) and (max-width: 849px) {
              .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems h1 {
                font-size: 90%; } }
            @media screen and (min-width: 850px) and (max-width: 1024px) {
              .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems h1 {
                font-size: 65%; } }
            @media screen and (min-width: 1025px) and (max-width: 1169px) {
              .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems h1 {
                font-size: 65%; } }
            @media screen and (min-width: 1170px) {
              .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems h1 {
                font-size: 90%; } }
          .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems img {
            width: auto !important;
            height: 2px;
            display: initial !important; }
            @media screen and (min-width: 850px) and (max-width: 1024px) {
              .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems img {
                display: none !important; } }
          .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems h2 {
            font-family: MontserratRegular;
            text-transform: uppercase;
            color: #e5e5e5;
            letter-spacing: 4px;
            font-size: 184%;
            text-align: center; }
            @media screen and (min-width: 100px) and (max-width: 480px) {
              .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems h2 {
                font-size: 110%;
                margin-top: 9px;
                margin-bottom: 9px; } }
            @media screen and (min-width: 481px) and (max-width: 750px) {
              .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems h2 {
                font-size: 120%;
                margin-top: 7px; } }
            @media screen and (min-width: 751px) and (max-width: 849px) {
              .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems h2 {
                font-size: 140%;
                margin-top: 7px; } }
            @media screen and (min-width: 850px) and (max-width: 1024px) {
              .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems h2 {
                font-size: 100%; } }
            @media screen and (min-width: 1025px) and (max-width: 1169px) {
              .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems h2 {
                font-size: 110%; } }
            @media screen and (min-width: 1170px) and (max-width: 1599px) {
              .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems h2 {
                font-size: 160%;
                max-width: 18rem;
                margin: 0 auto;
                padding-top: 10px; } }
          .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems p {
            font-family: MontserratRegular;
            color: #e5e5e5;
            letter-spacing: 1px;
            margin: 0 auto;
            font-size: 90%;
            max-width: 12rem; }
          .portfolio .portfolioWrap ul li .portfolioImageWrap .slideOverlay .slideOverlayItems .miniMenu {
            width: auto;
            height: 29px;
            float: right;
            padding-right: 2rem; }
      .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
        position: absolute;
        bottom: 7%;
        left: 5%; }
        @media screen and (min-width: 100px) and (max-width: 480px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 0%;
            left: 3%; } }
        @media screen and (min-width: 481px) and (max-width: 508px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 3%; } }
        @media screen and (min-width: 508px) and (max-width: 540px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 7%; } }
        @media screen and (min-width: 541px) and (max-width: 566px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 12%; } }
        @media screen and (min-width: 567px) and (max-width: 590px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 14%; } }
        @media screen and (min-width: 591px) and (max-width: 621px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 19%; } }
        @media screen and (min-width: 622px) and (max-width: 639px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 23%; } }
        @media screen and (min-width: 640px) and (max-width: 680px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 4%; } }
        @media screen and (min-width: 681px) and (max-width: 701px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 6%; } }
        @media screen and (min-width: 716px) and (max-width: 732px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 9%; } }
        @media screen and (min-width: 733px) and (max-width: 750px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 10%; } }
        @media screen and (min-width: 751px) and (max-width: 767px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 15%; } }
        @media screen and (min-width: 768px) and (max-width: 785px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 1%; } }
        @media screen and (min-width: 786px) and (max-width: 806px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 2%; } }
        @media screen and (min-width: 807px) and (max-width: 816px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 3%; } }
        @media screen and (min-width: 850px) and (max-width: 903px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 1%; } }
        @media screen and (min-width: 904px) and (max-width: 938px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 3%; } }
        @media screen and (min-width: 939px) and (max-width: 974px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 7%; } }
        @media screen and (min-width: 975px) and (max-width: 1024px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 13%; } }
        @media screen and (min-width: 1025px) and (max-width: 1060px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: -1%; } }
        @media screen and (min-width: 1061px) and (max-width: 1100px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 2%; } }
        @media screen and (min-width: 1101px) and (max-width: 1119px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 5%; } }
        @media screen and (min-width: 1120px) and (max-width: 1149px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 7%; } }
        @media screen and (min-width: 1151px) and (max-width: 1165px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 8%; } }
        @media screen and (min-width: 1166px) and (max-width: 1179px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 9%; } }
        @media screen and (min-width: 1180px) and (max-width: 1288px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 3%; } }
        @media screen and (min-width: 1289px) and (max-width: 1319px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 5%; } }
        @media screen and (min-width: 1320px) and (max-width: 1399px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 1%; } }
        @media screen and (min-width: 1400px) and (max-width: 1499px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 3%; } }
        @media screen and (min-width: 1500px) and (max-width: 1540px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 5%; } }
        @media screen and (min-width: 1541px) and (max-width: 1599px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 9%; } }
        @media screen and (min-width: 1600px) and (max-width: 1687px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 1%; } }
        @media screen and (min-width: 1688px) and (max-width: 1699px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 1%; } }
        @media screen and (min-width: 1699px) and (max-width: 1750px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 4%; } }
        @media screen and (min-width: 1751px) and (max-width: 1809px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 2%; } }
        @media screen and (min-width: 1810px) and (max-width: 1848px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 3%; } }
        @media screen and (min-width: 1849px) and (max-width: 3000px) {
          .portfolio .portfolioWrap ul li .portfolioImageWrap .label {
            bottom: 4%; } }
        .portfolio .portfolioWrap ul li .portfolioImageWrap .label h2 {
          font-family: MontserratRegular, sans-serif;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #ededed;
          margin-bottom: 0px;
          font-size: 136%; }
        .portfolio .portfolioWrap ul li .portfolioImageWrap .label h3 {
          font-family: MontserratRegular, sans-serif;
          text-transform: uppercase;
          font-size: 65%;
          letter-spacing: 1px;
          color: #ededed;
          margin-top: 4px; }
        .portfolio .portfolioWrap ul li .portfolioImageWrap .label a {
          font-family: MontserratRegular, sans-serif;
          text-transform: uppercase;
          display: none; }
      .portfolio .portfolioWrap ul li .portfolioImageWrap:hover .label {
        -webkit-transform: translateX(-19rem);
        -moz-transform: translateX(-19rem);
        -ms-transform: translateX(-19rem);
        -o-transform: translateX(-19rem);
        transform: translateX(-19rem);
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out; }
      .portfolio .portfolioWrap ul li .portfolioImageWrap:hover .slideOverlay {
        -webkit-transform: translateY(-18rem);
        -moz-transform: translateY(-18rem);
        -ms-transform: translateY(-18rem);
        -o-transform: translateY(-18rem);
        transform: translateY(-18rem);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      .portfolio .portfolioWrap ul li .portfolioImageWrap:hover .smallOverlay {
        -webkit-transform: translateY(-20rem);
        -moz-transform: translateY(-20rem);
        -ms-transform: translateY(-20rem);
        -o-transform: translateY(-20rem);
        transform: translateY(-20rem);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      .portfolio .portfolioWrap ul li .portfolioImageWrap:hover .smallLabel {
        -webkit-transform: translateX(-26rem);
        -moz-transform: translateX(-26rem);
        -ms-transform: translateX(-26rem);
        -o-transform: translateX(-26rem);
        transform: translateX(-26rem);
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out; }
    .portfolio .portfolioWrap ul li:nth-child(2) .slideOverlayItems h2 {
      max-width: 21rem;
      font-family: MontserratRegular;
      text-transform: uppercase;
      color: #e5e5e5;
      letter-spacing: 4px;
      font-size: 184%;
      text-align: center;
      margin: 0 auto;
      padding-top: 10px; }
      @media screen and (min-width: 100px) and (max-width: 480px) {
        .portfolio .portfolioWrap ul li:nth-child(2) .slideOverlayItems h2 {
          font-size: 110%;
          margin-top: 9px;
          margin-bottom: 9px; } }
      @media screen and (min-width: 481px) and (max-width: 750px) {
        .portfolio .portfolioWrap ul li:nth-child(2) .slideOverlayItems h2 {
          font-size: 120%;
          margin-top: 7px; } }
      @media screen and (min-width: 751px) and (max-width: 849px) {
        .portfolio .portfolioWrap ul li:nth-child(2) .slideOverlayItems h2 {
          font-size: 140%;
          margin-top: 7px; } }
      @media screen and (min-width: 850px) and (max-width: 1024px) {
        .portfolio .portfolioWrap ul li:nth-child(2) .slideOverlayItems h2 {
          font-size: 100%; } }
      @media screen and (min-width: 1025px) and (max-width: 1169px) {
        .portfolio .portfolioWrap ul li:nth-child(2) .slideOverlayItems h2 {
          font-size: 110%; } }
      @media screen and (min-width: 1170px) and (max-width: 1599px) {
        .portfolio .portfolioWrap ul li:nth-child(2) .slideOverlayItems h2 {
          font-size: 130% !important;
          max-width: 18rem;
          margin: 0 auto;
          padding-top: 10px; } }
    .portfolio .portfolioWrap ul li:nth-child(9) .slideOverlayItems h2 {
      max-width: 21rem;
      font-family: MontserratRegular;
      text-transform: uppercase;
      color: #e5e5e5;
      letter-spacing: 4px;
      font-size: 184%;
      text-align: center;
      margin: 0 auto;
      padding-top: 10px; }
      @media screen and (min-width: 100px) and (max-width: 480px) {
        .portfolio .portfolioWrap ul li:nth-child(9) .slideOverlayItems h2 {
          font-size: 110%;
          margin-top: 9px;
          margin-bottom: 9px; } }
      @media screen and (min-width: 481px) and (max-width: 750px) {
        .portfolio .portfolioWrap ul li:nth-child(9) .slideOverlayItems h2 {
          font-size: 120%;
          margin-top: 7px; } }
      @media screen and (min-width: 751px) and (max-width: 849px) {
        .portfolio .portfolioWrap ul li:nth-child(9) .slideOverlayItems h2 {
          font-size: 140%;
          margin-top: 7px; } }
      @media screen and (min-width: 850px) and (max-width: 1024px) {
        .portfolio .portfolioWrap ul li:nth-child(9) .slideOverlayItems h2 {
          font-size: 100%; } }
      @media screen and (min-width: 1025px) and (max-width: 1169px) {
        .portfolio .portfolioWrap ul li:nth-child(9) .slideOverlayItems h2 {
          font-size: 110%; } }
      @media screen and (min-width: 1170px) and (max-width: 1599px) {
        .portfolio .portfolioWrap ul li:nth-child(9) .slideOverlayItems h2 {
          font-size: 130% !important;
          max-width: 18rem;
          margin: 0 auto;
          padding-top: 10px; } }

footer {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  padding-bottom: 5rem;
  padding-top: 3rem; }
  footer .footerWrap {
    width: 95%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; }
    @media screen and (min-width: 100px) and (max-width: 480px) {
      footer .footerWrap {
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column; } }
    footer .footerWrap .leftFooterBrandWrap {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
      @media screen and (min-width: 100px) and (max-width: 480px) {
        footer .footerWrap .leftFooterBrandWrap {
          -webkit-box-ordinal-group: 2;
          -moz-box-ordinal-group: 2;
          box-ordinal-group: 2;
          -webkit-order: 2;
          -moz-order: 2;
          order: 2;
          -ms-flex-order: 2;
          padding-top: 16px; } }
      footer .footerWrap .leftFooterBrandWrap img {
        width: auto;
        height: 43px; }
      footer .footerWrap .leftFooterBrandWrap p {
        font-family: MontserratRegular;
        text-transform: uppercase;
        letter-spacing: 1px; }
    @media screen and (min-width: 100px) and (max-width: 480px) {
      footer .footerWrap .centerFooterTopWrap {
        padding-bottom: 25px;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
        -webkit-order: 1;
        -moz-order: 1;
        order: 1;
        -ms-flex-order: 1; } }
    footer .footerWrap .centerFooterTopWrap i {
      border: 2px solid black;
      border-radius: 30px; }
    footer .footerWrap .rightFooterSocialWrap {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center; }
      @media screen and (min-width: 100px) and (max-width: 480px) {
        footer .footerWrap .rightFooterSocialWrap {
          -webkit-box-ordinal-group: 3;
          -moz-box-ordinal-group: 3;
          box-ordinal-group: 3;
          -webkit-order: 3;
          -moz-order: 3;
          order: 3;
          -ms-flex-order: 3;
          padding-top: 39px; } }
      footer .footerWrap .rightFooterSocialWrap .rightFooterSocialInnerWrap {
        width: 13rem;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: justify; }
        @media screen and (min-width: 100px) and (max-width: 480px) {
          footer .footerWrap .rightFooterSocialWrap .rightFooterSocialInnerWrap {
            width: 100%;
            -webkit-box-pack: distribute;
            -moz-box-pack: distribute;
            box-pack: distribute;
            -webkit-justify-content: space-around;
            -moz-justify-content: space-around;
            -ms-justify-content: space-around;
            -o-justify-content: space-around;
            justify-content: space-around;
            -ms-flex-pack: distribute;
            -webkit-box-ordinal-group: 3;
            -moz-box-ordinal-group: 3;
            box-ordinal-group: 3;
            -webkit-order: 3;
            -moz-order: 3;
            order: 3;
            -ms-flex-order: 3; } }
        footer .footerWrap .rightFooterSocialWrap .rightFooterSocialInnerWrap i {
          font-size: 19px; }

#posts .mix {
  display: none; }

.fancybox-prev {
  left: -21rem !important; }

.fancybox-next {
  left: 51rem; }

/*# sourceMappingURL=style.css.map */


.bx-next{ right:5%!important;}


.bx-prev{ left:5%!important;}

#features-video{
  background-color: #000; 
  text-align: center;

}

.image{ height: 291px; overflow: hidden; }