nav:not(.mm-menu)
{
	display: none;
}

.header,
.content,
.footer
{
	text-align: center;
}
.header,
.footer
{

}
.header.fixed
{
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed
{
	position: fixed;
	bottom: 0;
	left: 0;
}
.header a
{
	background: center center no-repeat transparent;
	/*background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );*/
	background-image: url(../img/menu-icon.png);
	display: block;
	width: 45px;
	height: 40px;
	position: absolute;
	top: 15px;
	left: 10px;
	z-index:1;
}
.content
{
	padding: 150px 50px 50px 50px;
}
@media screen and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 639px) {
	.header a{ background-size:100% auto; width:30px; height:30px;}
}